body {
    margin: 0px;
    padding: 0px;
    background-image: url(../src/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', cursive;
}

#headline {
    /* height: 90px; */
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Tangerine';
    font-size: 80px;
    display: flex;
    flex-direction: column;
}

#headline, #copy {
    /* font-size: x-large; */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copy {
    background-color: rgba(0, 0, 0, 0.6);
    /* margin-top: 45%;
    padding: 50px; */
    height: 5rem;
    text-align: center;
    font-size: 16px;
    /* font-family: 'Tangerine'; */
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.buttonNav {
    transition: transform 0.3s;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    font-family: 'Montserrat', cursive;
}
.buttonNav.active {
    border-bottom: 2px solid white;
}
.buttonNav:hover {
    transform: translateY(-10%);
}
#tabDiv {
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

#chef {
    display: flex;
    justify-items: center;
    align-self: center;
    /* background-image: url('./img/chef.png'); */
    background-attachment: fixed;
    background-size: cover;
    height: 50%;
    width: 50%;
}
img {
    width: 100%;
    height: 100%;
}